@font-face {
    font-family: Couture;
    src: url(./fonts/couture-bld.otf);
}

* {
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.menu {
    background-image: url("./img/backg1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1200px;
    height: 688px;
}

.menu_inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.logo {
    padding-top: 38px;
    padding-left: 84px;
}

.nav {
    display: flex;
    list-style: none;
    text-decoration: none;
    margin-top: 66px;
}

.nav_style {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.nav li a{
    margin-left: 10px;
    text-decoration: none;
    color: #ffffff; 
    padding: 10px;
    border-radius: 5px;
}

.nav li a:hover {
    background-color:#130e27 ;
}

h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 90px;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    text-transform: uppercase;
    margin: 0;
    padding-top: 130px;
    padding-left: 103px;
    line-height: 80px;
}
h1 span {
    display: block;
}

.black {
    color: #130e27 !important;
}

.white {
    color: #ffffff;
}

.menu p {
    margin: 0; 
    padding: 50px 590px 156px 103px;
    color: #f6d5d2;
}

.text {
    font-family: "PT Serif", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 28px;
}

h2 {
    /* margin: 46px auto 189px 100px; */
    margin: 0;
    padding-top: 46px;
    padding-left: 101px;
    padding-bottom: 100px;
    font-family: Couture;
    font-weight: bold;
    font-size: 50px;
    text-transform: uppercase;
}

.red {
    color: #c62314;
}

.services {
    display: flex;
    justify-content: space-around;
}

.detail {
    text-align: center;
}

.place {
    margin: 0;
    padding-top: 48px;
}

.place3 {
    margin: 0;
    padding-top: 30px;
}

.place4 {
    margin: 0;
    padding-top: 34px;
}

.icon{
    transform: translateY(-19px);
}


.info {
    display: flex;
    height: 120px;
    background-color:#130e27;
    margin-top: 64px;
    position: relative;
}

.info>p {
    color: #efeff1;
    margin-left: 101px;
}

.moreinfo {
    color: #ffffff;
    background-color: crimson;
}

.link a {
    width: 269px;
    height: 64px;
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 22px;
    text-decoration: none;
    line-height: 28px;
    border: 2px solid #c62314;
    background-color: #c62314;
    border-radius: 5px;
} 

.style {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 25px;
    left: 850px;
}